<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="https://weather-pwa-sample.firebaseapp.com/final/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/inline.css">
    <link rel="stylesheet" type="text/css" href="styles/map.css">

    <!-- TODO add manifest here -->
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Events">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <script src="/scripts/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/scripts/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1 class="page-header">new event</h1>
    <form class="form-horizontal" action="/newEvent" method="post">
        <div class="form-group">
            <div class="col-md-5">
                <label for="exampleInputEvent">Event</label>
                <input type="text" name="name" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label for="exampleInputSDate">Start Date</label>
                <input type="text" name="start" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label for="exampleInputEDate">End Date</label>
                <input type="text" name="end" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-5">
                <label for="exampleInputLocation">Location x</label>
                <input id="map_x" type="text" name="lag" class="form-control"/>
            </div>

            <div class="col-md-5">
                <label for="exampleInputLocation">Location y</label>
                <input id="map_y" type="text" name="lng" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label for="exampleInputDis">Description</label>
                <input type="text" name="description" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <button class="btn-primary">Create new event</button>
            </div>
        </div>
    </form>
    <div id="map" onload="initMap()"></div>
</div>


<script src="/scripts/database.js"></script>
<script src="/scripts/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDicF83BImP7pDGNXP3Mv8kCKpxLCvQDFw&callback=initMap"
        async defer></script>

</body>
</html>
